.login-container {
    font-family: 'Oswald', sans-serif;
    background: none;
  }

.text-secondary{
    font-family: 'Oswald', sans-serif; 
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
  }


.logo {
    margin-bottom: 50px;
  }

  .separator {
    width: 3px;
    background-color: black;
    height: 80%;
    align-self: center;
  }
  
  .w-40 {
    width: 40%;
  }

  .logo-celular {
    position: absolute;
    top: 63%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 800px;
    z-index: -1;
  }
  
.register,
.descripcion {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}