.login-container {
    font-family: 'Oswald', sans-serif;
    background: none;
  }

.text-secondary{
    font-family: 'Oswald', sans-serif; 
}

.logo {
  max-width:  400px; 
  margin-top: 200px;
}

  
  .logo-rewards {
    max-width:  500px;
    margin-top: -100px;
  }
  
.text-dark {
    color: black !important;
    font-family: 'Oswald', sans-serif;
  }

  .descripcion-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end; /* Lo mueve hacia la parte inferior */
    align-items: center;
    height: 100vh; /* Toma toda la altura de la pantalla */
    padding-bottom: -100px; /* Ajusta cuánto más abajo quieres que esté */
  }
  