.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    height: 60px;
    background: linear-gradient(90deg, 
      rgba(82, 191, 186, 0.205) 0%, 
      rgba(109, 161, 228, 0.363) 33%, 
      rgba(89, 82, 231, 0.295) 55%, 
      rgba(229, 81, 224, 0.247) 75%, 
      rgba(201, 31, 34, 0.199) 100%);
    color: white;
    border: 1px solid black;
  }
  
  .navbar-logo {
    height: 100%;
    max-height: 50px;
    width: auto;
  }
  
  .logout-btn {
    background-color: transparent;
    border: none;
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Oswald', sans-serif; 
  }
  